/* Theme "geodata" */

#header {
    position: relative;
    height: 127px;
}

#header #header-block-l {
    float: left;
    padding-left: 5px; 
}

#header #header-block-r {
    float: right;
    padding-right: 5px; 
}

#header #menu-wrapper {
    display: block;
    position: absolute;
    right: 0px;
    top: 70%;
    border: dotted 0px silver;
}

#header #menu-wrapper ul {
   font-size: 1.1em; 
}

#header #menu-wrapper ul li {
    display: inline-block;
    padding-right: 8px;
    color: #71BFD2;
}

#header #menu-wrapper ul li a {
    color: #71BFD2;
    text-decoration: none;
    font-weight: bold;
}

#header #logo {
    display: block;
    position: absolute;
    left: 170px;
    top: 10px;
    border: dotted 0px #999;
}

#header #logo > h1 {
    font-size: 3em;
    margin-bottom: 6px;
}

#header #logo > p {
    display: block;
    font-size: 1.1em;
    font-family: consolas, monospace;
    color: #888;
}

#top-container > .tab-pane {
    padding: 0px 8px;
}

#top-container > .tab-pane > .tab {
    padding: 5px 15px;
}

#top-container > .tab-pane > .tab h1 {
    margin: 35px 0px;
}

#top-container > .tab-pane > .tab h2 {
    margin: 27px 0px;
}

#top-container > .tab-pane > .tab h3 {
    margin: 22px 0px;
}

#top-container > .tab-pane > .tab h4 {
    margin: 18px 0px;
}

#top-container > .tab-pane > .tab p {
    line-height: 1.5em;
    margin: 10px 200px 10px 0px;
}

#top-container > .tab-pane > .tab ol,
#top-container > .tab-pane > .tab ul {
    margin: 10px 200px 10px 0px;
    padding-left: 16px;
}

#top-container > .tab-pane > .tab > pre,
#top-container > .tab-pane > .tab > .code {
    margin: 10px 250px 10px 0px;
}
#top-container > .tab-pane > .tab > .code {
}

#top-container > .tab-pane > .tab > .code {
    position: relative;
}
#top-container > .tab-pane > .tab > .code .CodeMirror {
    height: 220px;
}

