<div id="header-block-l">
     <a target="_blank" href="http://geodata.gov.gr"><img src="{{ asset('images/geodata-header-left.png') }}"></a>
</div>
<div id="header-block-r">
     <a target="_blank" href="http://geodata.gov.gr"><img src="{{ asset('images/geodata-header-right.png') }}"></a>
</div>
<div id="logo"> 
    <h1>{{ title }}</h1>
    <p>{{ headerLine }}</p>
</div>
<div id="menu-wrapper">
    <ul class="nav nav-pills">
        {% _(menu).each(function(v) { %}
        <li><a href="{{ v.path }}" title="{{ v.title }}">{{ v.text }}</a></li>
        {% }) %}
    </ul>
</div>
