<div id="header-block-l">
     <a target="_blank" href="http://geodata.gov.gr"><img src="http://geodata.gov.gr/maps/images/geodata-header-left.png"></a>
</div>
<div id="header-block-r">
     <a target="_blank" href="http://geodata.gov.gr"><img src="http://geodata.gov.gr/maps/images/geodata-header-right.png"></a>
</div>
<div id="logo"> 
    <h1>{{ title }}</h1>
    <p>{{ headerLine }}</p>
</div>
<div id="menu-wrapper">
    <ul class="menu">
        <li><a target='_blank' href="https://web.imis.athena-innovation.gr/redmine/projects/geoknow_public/wiki/Inspire2RDF">About</a></li>
        <li><a target='_blank' href="https://web.imis.athena-innovation.gr/redmine/projects/geoknow_public/wiki/">Help</a></li>
        <li><a target='_blank' href="https://web.imis.athena-innovation.gr/redmine/projects/geoknow_public/wiki/">FAQ</a></li>
    </ul>
</div>
